*{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.min-width860 {
    min-width: 860px;
}

nav {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
}

.top-head {
     height: 40px;
}
.top-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 10px;
    font-size: 15px;
    margin: 15px;
    float: left;
}

.top-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    float: left;
    margin: 10px;
}
.top-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.top-links ul li{
    text-decoration: none;
    padding-left: 30px;
    list-style: none;
    
}
.top-links a {
    color: azure;
}
.top-links ul li a:hover, 
.mid-head-links li a:hover {
    text-decoration: underline;
}

.mid-head-links li {
    display: inline-block;
    margin: 10px;
}
.mid-head-links a {
    color: #fff;
}

.bottom-head-links {
    padding: 5px;
}
.bottom-head-links li {
    display: inline-flex;
}

.banner {
    background-image: url('./source/Banner1.png');
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
    top: 119px;
    height: 425px;
    text-align: right;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.banner-head {
    text-transform: uppercase;
}

.service-links {
    padding: 24px 35px;
}
.article-1 {
    padding: 20px;
}

.full-wide-page {
    width: auto;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.embed-img-video {
    width: 1000px;
    height: 400px;
    border: 1px solid #333;
    border-radius: 10px;
    background-image: url('./source/Banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    
}
.button-column p {
    margin: 10px;
    text-align: center;
}


.footer-back-to-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    text-align: center;
}
.footer-back-to-top a:hover{
    text-decoration: underline;
}
h1 {
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    text-align: center;
}
h2 {
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}
h3 {
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}
table {
    background-color: #333;
    margin: 20px;
    width: 96%;
    
}
th {
    background-color: #000;
}
td {
    font-family: 'Merriweather', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}


a {
  text-decoration: none;
}
main {
    position: relative;
    top: 130px;
    width: 100%;
}
footer .footer-1 {
    position: relative;
    height: auto;
    top: 130px;
    width: 100%;
    text-align: right;
}
footer .footer-2 {
    position: relative;
    height: auto;
    top: 300px;
    width: 100%;
    text-align: right;
}


.footer-1 ul {
    list-style: none;
}
.code {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    background-color: #717171;
}

.dv-logo-parent {
    display: flex;
    width: 30%;
    float: left;
}
.dv-links-parent {
    display: flex;
    width: 64%;
    flex-direction: column;

}
.dv-logo {
    background-image: url('./source/DV-logo.png');
    width: 335px;
    height: 250px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 20px;
}
.dv-work1 {
    background-image: url('./source/work1.jpg');
}
.dv-work2 {
    background-image: url('./source/work2.jpg');
}
.dv-work3 {
    background-image: url('./source/work3.jpg');
}
.dv-work1, .dv-work2, .dv-work3 {
    background-size: 100%;
    width: 200px;
    height: 157px;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 10px;
}
.none {
    
}
.dv-works a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.check-out {
    display: block;
    width: 100%;
}
.social-icon {
    width: 20px;
    height: 20px;
    margin: 10px;
}
.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.footer-social a {
    display: flex;
    float: right;
}
.black-rec {
    background-image: url("./source/black-rec.png");
    background-repeat: no-repeat;
    background-position-y: 64px;
}
